.mainchat
  .mainchat__top
    .mainchat__top__left
      = @group.name 
      .mainchat__top__left__member
        Member :
        - @group.users.each do |user|
          = user.name
    .mainchat__top__right
      = link_to "Edit" , edit_group_path(current_user) ,class: "btn"

  .mainchat__message
    -# - group.messages.each do |user|
      .mainchat__message__name
        -# = user.name

      .mainchat__message__text

      .mainchat__message__date

  .mainchat__bottom
    .form-input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        = f.label :image, class: 'img' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'send'